/* animation of logo image when page loads */

@keyframes spin3D {
    from { transform: rotateY(0deg) }
    to { transform: rotateY(360deg) }
  }
  .logo {
    animation-name: spin3D;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }

  #divider{
    height: 48px;
  }